<div class="jumbotron">
  <h1 class="display-4 text-center">Post yours Ideas.</h1>
  <p class="lead">Very simple posting mechanisum</p>
  <hr class="my-4">
  <p>You can add edit delete in one place.</p>
  <a class="btn btn-primary btn-lg" href="/ideas/add" role="button">Post video</a>
</div>